@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable::-webkit-scrollbar {
  display: none;
}
/* 
body::-webkit-scrollbar {
  display: none;
} */

progress::-webkit-progress-bar {
  @apply bg-slate-900;
}

progress::-webkit-progress-value {
  @apply bg-white;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply w-20 h-[2px]
  /* appearance: none; */;
}
